<h1>Edit Product</h1>

<%= simple_form_for [:admin, @product] do |f| %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :stock %>
  <%= f.input :image %>
  <%= f.submit "Submit" %>

<% end %>
