<h1>Edit Product</h1>

<%= simple_form_for [:admin, @product] do |f| %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :stock %>

  <% if @product.image.present? %>
    <span><b>Product Image</b></span>
    <br/>
    <%= image_tag(@product.image.thumb.url) %>
  <% end %>

  <%= f.input :image, as: :file %>
  <%= f.submit "Submit" %>

<% end %>
